*{
    font-family: 'Libre Caslon Display', serif;
    margin: 0%;
    text-decoration: none;
    list-style: none;

}
body{
    background-image: url(../dibujos/fondohumo.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: aliceblue;
}
.header{
    background-color: rgba(106, 25, 90, 0.932);
    height: 80px;
    width: 100%;
    position: fixed;
    top: 0%;
    left: 0%;
}
.navbar{
    display: flex;
    justify-content: space-between;
}
.link{
    color: white;
}
.logo{
    font-size: 18px;
    padding: 10px 50px;
    color: pink;
    
}
.barra{
    display: flex;
    margin-right: 50px;
}
.barra li{
    padding: 20px;
    margin-top: 10;
    text-transform: uppercase;
}
.barra li :hover{
    color: rgb(244, 40, 207);
}
#check-nav, label.nav{
    display: none;
}
main{
    margin-top: 90px;
    margin-bottom: 60px;
    display: flex;
    
}
.descrive{
    width: 300px;
    margin-left: 10px;
}
.galery{
    display: inline-block
   
}

.galery img:hover{
    transform: scale(1.20);
}

.imagen1{
    width: 350px;   
}

.imagen2{
    width: 370px;
    justify-content: flex-start;
    
}
.imagen3{
    width: 390px;
    
}
.productos{
    display: block;
}
.second-galery{
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
    
}
.iglu{
    width: 300px;
    height: 400px;
    box-shadow: 0 4px 8px 0 purple; 
}
.zetas{
    width: 300px;
    height: 400px;
    box-shadow: 0 4px 8px 0 purple; 
}

footer
    background-color: rgba(0, 0, 0, 0.907);
    color: aliceblue;
    position: fixed;
    display: flex;
    bottom: 0%;
    width: 100%;
    height: 50px;

}
.redes-footer
    margin-left: 10px;
}
.middle-footer
    margin-left: 38%;
}
.imagenes-diseño
    display: inline-block;
    text-align: center;
}
.imagenes-diseño img
    width: 400px;
    height: 500px;
}

.persona{
    display: flex;
    justify-content: space-around;
}
.retrato1{
    padding-left: 20px;
    width: 300px

}
.descripcion{
    margin-left: 10px;
}
.musica{
    display: inline-block;
}
.contacto{
    margin-top: 90px;
    text-align: center;
}
.seguime{
    text-transform: uppercase;
}

.sobremi_grid{
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 1fr;
    row-gap: 40px;
    grid-template-areas: "retrato descripcion "
                          " musica musica  ";
}
.retrato{
    grid-area: retrato;
    padding-left: 60px;
}
.descripcion{
    grid-area: descripcion;
}
.musica{
    grid-area: musica;
    text-align:center;
}
@media screen and (max-width:600px) {
    .barra {
        display: none;
    }
    label.nav{
        display: block;
        font-size: 1.7em;
        padding: 10px;
        padding-top: 20px;
    }
}