@charset "UTF-8";
.row-navbar {
  min-width: 100vh;
  height: 50px;
}

.navbar-brand {
  margin-left: 50px;
  font-size: 25px;
}
.navbar-brand .subtitulo {
  font-size: 16px;
  color: rgb(255, 255, 255);
}
.navbar-brand .second-color {
  color: rgb(220, 9, 160);
}

.nav-item {
  padding-left: 20px;
}
.nav-item .nav-link {
  text-transform: uppercase;
}
.nav-item .nav-link:hover {
  border-bottom: 2px solid darkorchid;
  transition-duration: 0.3s;
}

.imagenes-diseño {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(380px, 1fr));
  width: 95%;
  margin: auto;
  grid-gap: 10px;
  padding: 20px 0px;
  margin-top: 150px;
  margin-bottom: 50px;
  text-align: center;
}
.imagenes-diseño a {
  display: block;
  position: relative;
  overflow: hidden;
}
.imagenes-diseño .image {
  width: 400px;
  height: 500px;
  vertical-align: top;
  box-shadow: 0 4px 6px 0 black;
}

.light-box {
  position: fixed;
  top: 90px;
  bottom: 50px;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  transition: transform 0.3s ease-in-out;
  width: 100%;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(0);
}

.light-img {
  width: 80vh;
  max-height: 90vh;
}

.light-box:target {
  transform: scale(1);
}

.close {
  display: block;
  position: absolute;
  top: 10px;
  right: 40px;
  color: aliceblue;
  background: purple;
  text-decoration: none;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  border-radius: 50%;
}

.footer {
  background-color: #212529;
  padding-top: 10px;
  display: inline-block;
  bottom: 0%;
  width: 100%;
}
.footer .footer-line {
  text-align: center;
  justify-content: space-evenly;
}
.footer a {
  background-color: black;
  padding: 5px;
  color: aliceblue;
  margin-left: 0%;
  line-height: 30px;
  font-size: 16px;
}

* {
  font-family: "Libre Caslon Display", serif;
  margin-right: 0%;
}

body {
  background-image: url(../dibujos/fondohumo.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  color: aliceblue;
}

.principal {
  display: flex;
  margin-top: 150px;
  padding: 20px;
  justify-content: center;
  align-items: center;
}

.texto {
  width: 500px;
  font-size: 30px;
  padding-top: 100px;
}

.carousel {
  padding-top: 50px;
}

.carousel-slide {
  width: 400px;
  margin-right: 50px;
}

.filas {
  display: flex;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 100px;
  margin-right: 0%;
  margin-left: 0%;
}
.filas .imagen-prime {
  width: 300px;
  height: 400px;
  opacity: 0.85;
}
.filas .texto-prime {
  font-size: 25px;
  padding-top: 50px;
}

.productos {
  margin-top: 150px;
  text-align: center;
}
.productos .intro-productos h2 {
  width: 100%;
  font-size: 18px;
  text-align: center;
}
.productos a {
  text-decoration: none;
  color: rgb(220, 9, 160);
}

.second-galery {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  margin-bottom: 100px;
}
.second-galery .imagen-venta1 img {
  border: 3px solid purple;
  padding: 4px;
  box-shadow: 0 4px 8px 0 rgb(0, 0, 0);
}
.second-galery .imagen-venta1 img:hover {
  transform: translateY(-3px) scale(1.05);
}
.second-galery .iglu {
  width: 300px;
  height: 400px;
  box-shadow: 0 4px 8px 0 purple;
}
.second-galery .zetas {
  width: 300px;
  height: 400px;
  box-shadow: 0 4px 8px 0 purple;
}
.second-galery p {
  display: inline-block;
  margin-top: 15px;
  padding-top: 5px;
  width: 300px;
  height: 40px;
  text-align: center;
  text-transform: uppercase;
  background-color: rgb(100, 2, 100);
}
.second-galery .imagen-venta2 img {
  border: 3px solid purple;
  padding: 4px;
  box-shadow: 0 4px 8px 0 rgb(0, 0, 0);
}
.second-galery .imagen-venta2 img:hover {
  transform: translateY(-3px) scale(1.05);
}

.retrato {
  display: flex;
  margin-top: 150px;
  padding: 20px;
  justify-content: center;
  align-items: center;
}
.retrato .retrato1 {
  width: 350px;
  height: 600px;
}
.retrato p {
  width: 350px;
  font-size: 18px;
  padding-top: 100px;
}

.musica {
  margin-top: 80px;
  margin-bottom: 80px;
  text-align: center;
}
.musica h2 {
  font-size: 18px;
}

.seguir {
  margin-top: 150px;
  text-align: center;
  font-size: 18px;
}

.redes-container {
  display: flex;
  height: 50vh;
  margin-right: 40px;
  justify-content: center;
  text-align: center;
  align-items: center;
}
.redes-container ul li {
  margin: 0px 5px;
  width: 50px;
  height: 50px;
  text-align: center;
  list-style: none;
}
.redes-container ul li:hover {
  transform: translateY(-3px) scale(1.05);
}
.redes-container a {
  background-color: black;
  padding: 10px 10px;
  color: aliceblue;
  line-height: 50px;
  font-size: 18px;
  box-shadow: 0px 3px 5px 0px black;
}

.mb-3 {
  margin-top: 10px;
  margin-bottom: 0%;
}

@media (max-width: 1200px) {
  .texto {
    width: 300px;
  }
}
@media (max-width: 992px) and (min-width: 768px) {
  .principal {
    margin-top: 100px;
  }
  .principal .texto {
    padding-left: 50px;
  }
  .filas {
    display: block;
    text-align: center;
    justify-content: center;
    margin-left: 100px;
  }
  .texto-prime {
    margin-top: 20px;
    text-align: center;
    padding-left: 50px;
  }
}
@media (max-width: 768px) {
  .principal {
    margin-top: 100px;
    margin-left: 30px;
  }
  .principal .texto {
    padding-left: 50px;
  }
  .intro-productos h2 {
    margin-left: 70px;
  }
  .second-galery {
    display: block;
    text-align: center;
  }
  .second-galery .imagen-venta1 {
    border: none;
    box-shadow: none;
  }
  .intro-productos {
    width: 80%;
  }
}
@media (max-width: 576px) {
  .intro-productos h2 {
    margin-left: 50px;
  }
  .footer-line {
    width: 100%;
  }
}
@media (max-width: 510px) {
  .principal {
    margin-top: 150px;
  }
  .texto {
    width: 200px;
    font-size: 23px;
  }
  .container .sobremi .retrato .retrato1 {
    width: 270px;
    height: 400px;
  }
  .container .sobremi .retrato .presentacion {
    width: 300px;
  }
  .primal-galery .imagenes-diseño a {
    width: 100%;
    height: 250px;
  }
  .primal-galery .imagenes-diseño a .image {
    width: 200px;
    height: 250px;
  }
}
@media (max-width: 380px) {
  .primal-galery .imagenes-diseño a {
    width: 300px;
  }
}

/*# sourceMappingURL=style.css.map */
