@import "./variables";
@import "./header";
@import "./imagestyle";
@import "./redesstyle";
@import "./footer";

*{
    font-family: 'Libre Caslon Display', serif;
    margin-right: 0%;
}

body{
    background-image: url(../dibujos/fondohumo.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    color: aliceblue;
} 
.principal{
   display: flex;
   margin-top: $margintop;
   padding: 20px;
   justify-content: center;
   align-items: center; 
}
.texto{
    width: 500px;
    font-size: 30px; 
    padding-top: 100px;
}
.carousel{
    padding-top: 50px;
}
.carousel-slide{
    width: 400px;
    margin-right: 50px;
}

.productos{
    margin-top: $margintop;
    text-align: center;

    .intro-productos h2{
    width: 100%;
    font-size: $font-size;
    text-align: center;
}
    a{
    text-decoration: none;
    color: $second-color
}
} 

@import "./mixins";

.second-galery{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    margin-bottom: 100px;

    .imagen-venta1 img {
       @include border;

        &:hover{
       
            transform: $transform;
            }
    }
    .iglu{
        @include widht-height-word; 
}
    .zetas{
        @include widht-height-word; 
}
    p{
    display: inline-block;
    margin-top: 15px; 
    padding-top: 5px;
    width: 300px;
    height: 40px;
    text-align: center;
    text-transform: uppercase;
    background-color: rgb(100, 2, 100)
}


.imagen-venta2 img{
    @include border;
    &:hover{
       
        transform: $transform;
        }
}
} 
.retrato{
    display: flex;
    margin-top: $margintop;
    padding: 20px;
    justify-content: center;
    align-items: center;
    

.retrato1{
    width: 350px;
    height: 600px;
}
p{
    width: 350px;
    font-size: 18px; 
    padding-top: 100px;
}
}

.musica{
    margin-top: 80px;
    margin-bottom: 80px;
    text-align: center;

    h2{
        font-size: $font-size; 
    }
}

@import "./queries";

